# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# Visual Studio Code
.vscode/
*.code-workspace

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*.dll
*.exe
*.pdb
*.cache
*.log

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store